*.DS_Store
*.pyc
*.geojson
*.sqlite3
*.topojson
*.geojson
*.sqlite
*.tsv
*.csv
*.DS_Store
*.CPG
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx
*.lyr
*.qpj
*.pkl
.idea/
map_django/.idea/
*.Rproj.user/
.Rproj.user
*.RData
*.Rhistory
*.bil
*.hdr
*.stx
*.Rproj
*.zip
