{% load static %}


<html>
<head>
    <title>A Leaflet map!</title>
    <link rel="stylesheet" href="{% static 'biodivmap/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'biodivmap/leaflet_map.css' %}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'biodivmap/simple-sidebar.css' %}">


    <script src="{% static 'biodivmap/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'biodivmap/jquery.min.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'biodivmap/bootstrap-toggle.min.css' %}">
    <script src={% static 'biodivmap/bootstrap-toggle.min.js' %}></script>

    <script src="https://unpkg.com/topojson@3"></script>

    <script src="{% static 'biodivmap/leaflet.edgebuffer.js' %}"></script>
    <script src="{% static 'biodivmap/md5.min.js' %}"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/stdlib"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'biodivmap/bar_chart/inspector.css' %}">


    <script>
        var static_path = "{% static "/biodivmap/" %}"
    </script>

    <script src="{% static 'biodivmap/Leaflet.draw/src/Leaflet.draw.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/Leaflet.Draw.Event.js' %}"></script>
    <link rel="stylesheet" href="{% static 'biodivmap/Leaflet.draw/src/leaflet.draw.css' %}"/>

    <script src="{% static 'biodivmap/Leaflet.draw/src/Toolbar.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/Tooltip.js' %}"></script>

    <script src="{% static 'biodivmap/Leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/ext/TouchEvents.js' %}"></script>

    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>


    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script>

    <script src="{% static 'biodivmap/Leaflet.draw/src/Control.Draw.js' %}"></script>

    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>


    <!--    {{ form.media.css }}-->

</head>
<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Summary options</div>
        <div class="list-group list-group-flush">
            <input id="toggle-bar-charts" type="checkbox" data-toggle="toggle" data-on="Bar charts"
                   data-off="Bar charts" data-onstyle="success" data-offstyle="danger"
                   class="list-group-item list-group-item-action bg-light">
            <br>
            <input id="toggle-sunburst" type="checkbox" data-toggle="toggle" data-on="  Sunburst" data-off="Sunburst"
                   data-onstyle="success" data-offstyle="danger"
                   class="list-group-item list-group-item-action bg-light">
            <br>
            <input id="toggle-time-series" type="checkbox" data-toggle="toggle" data-on="Time Series"
                   data-off="Time Series" data-onstyle="success" data-offstyle="danger"
                   class="list-group-item list-group-item-action bg-light">
            <br>

        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Summary Tools Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="container-fluid">
            <h1 class="mt-4">Biodiversity MV</h1>

            <div style="width: 100%; overflow: hidden;">

                <div id="map" style="float: left;">
                    <div class="leaflet-bottom leaflet-right">
                        <div style="margin: 20px">
                            <img id="loader-summary" src="{% static 'biodivmap/ajax-loader.gif' %}"
                                 style="display: none;"/>

                        </div>
                    </div>
                </div>

                <script src="{% static 'biodivmap/leaflet_map.js' %}"></script>

                <div style="overflow:auto; height:500px; width:400px; background-color:#ffffff; float: left">

                    <div>
                        <img id="loader-plot" src="{% static 'biodivmap/ajax-loader.gif' %}" style="display: none;"/>
                        <button onclick="plotSpecies()"> Plot species</button>
                        <input id="taxon-search-field" onkeydown="searchTaxonEnter()">
                        <button id="taxon-search-button" onclick="searchTaxon()">Search</button>
                    </div>

                    <svg id="d3_graphs" style="float:left" width="400">
                    </svg>

                </div>
                <div style="height:500px; width:100px; background-color:#ffffff; float: left">
                    <img id="loader-summary" src="{% static 'biodivmap/question.png' %}"
                         data-toggle="tooltip" data-placement="left" title="Tooltip on top Tooltip on top">
                    <svg id="labels" class="fixed_labels" style="float:right" height="400" width="100">
                    </svg>
                    <script src="{% static 'biodivmap/species_legend.js' %}"></script>
                    <script src="{% static 'biodivmap/taxontree.js' %}"></script>

                </div>
            </div>


            <br>

            <div id="bar-charts">


                <div id="bar-chart-species" style="height:500px; overflow:auto; float:left; text-align: center;">
                    <h2 class="mt-4" data-toggle="tooltip" data-placement="left" title="Tooltip on top Tooltip on top">
                        Unique species distribution</h2>

                </div>

                <div id="bar-chart-occurrence"
                     style="height:500px; overflow:auto; float:left; text-align: center;">
                    <h2 class="mt-4">Species occurrence distribution</h2>
                </div>

            </div>

            <script type="module">

                import {Runtime, Inspector} from "{% static 'biodivmap/bar_chart/runtime.js' %}";
                import bar_chart_occurrence from "{% static 'biodivmap/bar_chart/bar-chart-occurrence.js' %}";
                import bar_chart_species from "{% static 'biodivmap/bar_chart/bar-chart-species.js' %}";
                import sunburst from "{% static 'biodivmap/bar_chart/zoomable-sunburst.js' %}";

                function define_bar_chart_occurence(runtime, observer) {
                    const main = runtime.module();
                    bar_chart_occurrence_ref = runtime.module(bar_chart_occurrence);
                    main.import("chart", bar_chart_occurrence_ref);
                    main.variable(observer()).define(["chart"], function (chart) {
                        return (
                            chart
                        )
                    });
                    return main;
                }

                function define_bar_chart_species(runtime, observer) {
                    const main = runtime.module();
                    bar_chart_species_ref = runtime.module(bar_chart_species);
                    main.import("chart", bar_chart_species_ref);
                    main.variable(observer()).define(["chart"], function (chart) {
                        return (
                            chart
                        )
                    });
                    return main;
                }

                function define_sunburst(runtime, observer) {
                    const main = runtime.module();
                    sunburst_ref = runtime.module(sunburst);
                    main.import("chart", sunburst_ref);
                    main.variable(observer()).define(["chart"], function (chart) {
                        return (
                            chart
                        )
                    });
                    return main;
                }

                const runtime = new Runtime();
                const main = runtime.module(define_bar_chart_occurence, Inspector.into(document.getElementById("bar-chart-occurrence")));
                runtime.module(define_bar_chart_species, Inspector.into(document.getElementById("bar-chart-species")));
                runtime.module(define_sunburst, Inspector.into(document.getElementById("sunburst")));

            </script>
            <br>

            <div id="sunburst" style="margin-top:50px; margin-left:20%; display: block;">

            </div>

            <br>
        </div>

        <div class="row-container">
            <iframe id="shiny" src="http://127.0.0.1:4609" class="second-row"></iframe>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<script src="{% static 'biodivmap/initialise.js' %}"></script>


</body>
</html>