{% load static %}


<html>
<head>
    <title>A Leaflet map!</title>
    <link rel="stylesheet" href="{% static 'biodivmap/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'biodivmap/leaflet_map.css' %}"/>

    <script src="{% static 'biodivmap/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'biodivmap/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js' %}"></script>
    <script src="{%  static 'biodivmap/jquery.min.js' %}"></script>

    <script src="https://unpkg.com/topojson@3"></script>

    <script src="{%  static 'biodivmap/leaflet.edgebuffer.js' %}"></script>
    <script src="{%  static 'biodivmap/md5.min.js' %}"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script>
    var static_path = "{% static "/biodivmap/" %}"
    </script>

<!--    {{ form.media.css }}-->

</head>
<body>


<div id="map">
    <div class="leaflet-bottom leaflet-right">

    </div>
</div>



<select class="select2-year" multiple="multiple" style="width:500px"> Select Year
</select>

<button onclick="plotGbif()">Plot gbif</button>
<br>

<select class="select2-species" multiple="multiple" style="width:500px"> Select Species
</select>

<button onclick="plotSpecies()"> Plot species</button>



<script>
    select2_element = $(".select2-species").select2({
      data: {{select2_species|safe}},
      width: 'resolve',
        closeOnSelect: false,
    });
</script>


<!--<form method='post' id="species_form">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type='button' value='select species' id="species_form_button">-->
<!--</form>-->

<!--<script type="text/javascript">-->
<!--    var frm = $('#species_form');-->
<!--    var btn = $('#species_form_button');-->
<!--    btn.bind('click', function (event) {-->
<!--        event.preventDefault();-->
<!--        $.ajax({-->
<!--            processData: false,-->
<!--            type: frm.attr('method'),-->
<!--            url: 'species/',-->
<!--            data: $('#species_form').djangoSelect2(),-->
<!--            contentType: false,  // add this to indicate 'multipart/form-data'-->
<!--            success: function (data) {-->
<!--                alert('Form Submitted');-->
<!--            },-->
<!--            error: function(data) {-->
<!--                alert('Form submission failed');-->
<!--            }-->
<!--         })-->
<!--    });-->
<!--    // var formData = new FormData(); // Use FormData instead-->
<!--    // formData.append('species', frm.files) // The first argument is the 'key' of the form data so change it to whatever works.-->

<!--</script>-->



<script src="{% static 'biodivmap/leaflet_map.js' %}"></script>



<!--{{ form.media.js }}-->

</body>
</html>